<section id="about">
    <div class="container">
        <div class="row">
        <div class="col-lg-12 text-center">
            <h2>About Me</h2>
            <hr />
        </div>
        </div>
    <div class="row">
        <p>
            In this year, 2018, I have just finished my 2nd Master Degree in Case Western Reserve University, where I
            was focusing on Robotics. My career shifted in Oct, 2016, when I had a chance to have a Coop program in
            Santa Clara, CA. Since then, I have learned several online courses on Udacity, Coursera and other platforms.
            Especially when I finished the Self-Driving Nanodegree on Udacity, I decided to devote myself into Autonomous
            Driving which highly mingles Robotics and Deep Learning together. And fortunately these side projects together
            with my thesis project helped me to find my current job as a Software Engineer in Autonomous Driving. Hope I
            will be a professional in this area within the next three or five years.
        </p>
    </div>
    </div>
</section>
