<section class="tout" id="interests">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        	</p>
			<ul>
                <li>
                    <b>Robotics</b>. I've been an enthusiastic hobbiest since I was a teenager - but only as an adult am I able to afford the higher-quality
                                     devices. I like to modify existing kits to implement concept or ideas.
                </li>
                <li>
                    <b>Artificial Intelligence</b>. It's an exciting time for artificial intelligence. I'm working through several online classes, and swap articles with collegues.
                </li>
                <li>
                    <b>Autonomous Driving</b>. A fast developing field combine the robotics and artificial intelligence.
                </li>
			</ul>
		</div>
        <div class="col-sm-6">
            <h3 style="margin-top:0">Recent Projects</h3>
                <ul>
                    <li>
                        Autonomous Vehicle is a complicated combination of robotics, device technology, embedded systems and deep learning. I am attempting to
                        construct an autonomous vehicle by use of a JetsonTX2 board.
                    </li>
                    <li>
                        My Medium blog covers my ongoing attempts to conclude my projects and readings.
                    </li>
                    </ul>
                    <h3>Other Things</h3>
                    <ul>
                    <li>
                        Volunteer at Silicon Valley Christian Assembly (since 2018).
                    </li>
                    <li>
                        Active member of The Mountain View Toastmaster Meetup Group.
                    </li>
                </ul>
            </div>
        </div>
  </div>
</section>
